$ming: #006d77ff;
$middle-blue-green: #83c5beff;
$alice-blue: #edf6f9ff;
$unbleached-silk: #ffddd2ff;
$dark-salmon: #e29578ff;
$white: #fff;
$black: #000;
$red: rgb(182, 103, 103);
$green: rgb(58, 145, 153);